{% extends 'records/time_entry_base.html' %}

{% block entry_title %}Add Time Entry{% endblock entry_title %}

{% block entry_header %}<i class="bi bi-plus-circle"></i> Add Time Entry - {{ time_block.date|date:"d/m/Y" }} ({{ time_block.day_type.name }}){% endblock entry_header %}

{% block back_button %}
<a href="{% url 'dashboard' %}" class="btn btn-secondary me-md-2">
    <i class="bi bi-arrow-left"></i> Back
</a>
{% endblock back_button %}

{% block submit_button %}
<button type="submit" class="btn btn-success">
    <i class="bi bi-save"></i> Save
</button>
{% endblock submit_button %}